<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NanoPips</title>
</head>
<body>
    <div style="margin:auto;width:200px">
        <img src="../Assets/images/logo.png" style="width:200px" />
    </div>
    <p style="text-align:center">
        404 error
    </p>
    <h2 style="text-align:center">
        ...aaaaaand it's gone.
    </h2>
    <p style="text-align:center">
        Page not found. The requested url was not found on our servers.
    </p>
    <div style="width:50%;margin:auto">
        <img src="../Assets/images/candlesticks.png" style="width:100%" />
    </div>
</body>
</html>