@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NanoPips</title>

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Rubik', sans-serif;">
    <div style="margin:auto;width:200px">
       
        <img src="~/Assets/img/logo.png" style="width:200px" />
    </div>
    <p style="text-align:center">
        500 error
    </p>
    <h2 style="text-align:center">
        ...aaaaaand it's gone.
    </h2>
    <p style="text-align:center">
        Something went wrong, please try again later
    </p>
    <div style="width:50%;margin:auto">
        <img src="~/Assets/img/candlesticks.png" style="width:100%" />
    </div>
</body>
</html>