
@{
    Layout = "~/Views/Shared/_masterAdmin.cshtml";

    ViewBag.Title = "Withdrawal";
}

<div class="row">
    <div class="container">
        <div class="card flat border-bottom">
            <h5 class="card-header">
                @ViewBag.currency > Withdrawl
            </h5>
            <div class="card-body px-0">
                @using (Html.BeginForm("Withdrawal", "Admin", FormMethod.Post, new { id = "withdrawl-form", novalidate = "novalidate" }))
                {
                    @Html.Hidden("currency", ViewBag.currency as object)
                    <div class="col-md-12 row">
                        <div class="form-group col-md-12">
                            <label>Enter Address</label>
                            <input type="text" class="form-control" name="address" required />
                        </div>

                        <div class="form-group col-md-6">
                            <label>Enter Amount</label>
                            <input type="number" class="form-control" name="amount" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>From</label>
                            <select class="form-control" name="from">
                                <option value="FUNDING">Master Wallet</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="button" class="btn btn-success" value="Request Withdrawal" />
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>





@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $("#withdrawl-form").click(function (event) {
                event.preventDefault();
                var form = $(this);
                form.validate();
                if (form.valid()) {
                    $("#verifySecuritymodal").modal("show");
                    $(".verifyBtn").click(function (e) {
                        e.preventDefault();
                        $.blockUI();
                        var pin = $(".verifyPin").val();
                        var verifyUrl = $("#verify-form").attr("action");
                        $.get(verifyUrl + "?verifyPin=" + pin, function (response) {
                            if (response === "True") {
                                $(".verifyPin").val(null);
                                $("#verifySecuritymodal").modal("hide");
                                form.submit();
                            } else {
                                $.unblockUI();
                                $(".verifyPin").val(null);
                                $("#verifySecuritymodal").modal("hide");
                                bootbox.alert("Your Pin is wrong!")
                            }
                        });
                    });
                } else {
                    event.preventDefault();
                }
            });
        });

    </script>
}


